-- 
# Debug log to syslog
debug: true
# ISO 3166-1 alpha2 codes for country to blacklist
blacklist:
  - A1 # Maxmind own code for anonymous proxies
  - A2 # Maxmind own code for satellite providers
  - O1 # Maxmind own code for other countries
  - SE # Sweden
# Full path to the GeoIP2 database to use
geoip2_database: /usr/share/GeoIP/GeoLite2-Country.mmdb

